html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
  background: rgb(15, 16, 16);
  background: linear-gradient(90deg, rgba(15, 16, 16, 0.9654455532212886) 40%, rgba(154, 173, 177, 1) 100%);
  background-size: cover;
  min-height: 100vh;
  color: #f5f5f5;
  padding: 20px;

}